# Bridge and LAN ports
/interface bridge
add name={{ bridge.name }} protocol-mode={{ bridge.protocol }}

{% for iface in lan_ifaces %}
/interface bridge port
add bridge={{ bridge.name }} interface={{ iface }}
{% endfor %}
